#uploadImageDiv {
    margin-top: 5px;
    margin-bottom: 10px;
}

#uploadImagelabel {
    margin-top: 10px;
}

.modal-header {
	background: #396060;
}

.modal-title-custom {
	margin-left: 125px;
	margin-right: auto;
	color: white;
}

.modal-content-1 {
	margin-top: 10px;
	margin-bottom: 10px;
} /* any modal content which is at top of the page, css spaces top */

.modal-content-2 {
	margin-top: 15px;
	margin-bottom: 10px;
} /* any modal content that is not at top of page, css spaces top and bottom.