.wrapper {
    display: flex;
	width: 100%;
}

/* SIDEBAR */

#sidebar {
	height: 100vh;
    width: 250px;
    background: #396060;
    color: #fff;
	transition: all 0.3s;
}

#sidebar .sidebar-header {
	padding: 20px;
	background: #2F4F4F;
}

#sidebar ul.components {
	padding: 20px 0;
	border-bottom: #47748b;
}

#sidebar ul {
    color: #fff;
	padding: 10px;
	border: none;
	background: none;
}

#sidebar ul li {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li:hover {
    color: #2F4F4F;
	background: #DCDCDC;
	cursor: pointer;
}

#sidebar ul li:active {
    color: #2F4F4F;
    background: #fff;
}

#createProjectBtn {
	color: #2F4F4F;
	background: #DCDCDC;
	cursor: pointer;
}

#createProjectBtn:hover {
	color: #DCDCDC;
	background: #2F4F4F;
	cursor: pointer;
}

/* MAIN CONTENT: TICKETS SECTION */

.content {
	padding: 10px;
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

#ticketMessage {
	padding: 24px;
	background: #DCDCDC;
}

.table {
	width: 100%;
}

th, td {
	padding-right: 10px;
  }

  .col1 {
	width: 10%;
	padding-left: 20px;
  }
  
  .col2 {
	width: 45%;
  }
  
  .col3 {
	width: 25%;
  }
  
  .col4 {
	width: 10%;
  }

  .tableHead {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
  }
  
  .tableBody {
	max-height: 585px;
	overflow: auto;
  }

  .table th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #fff;
	line-height: 1.4;
	background-color: #2F4F4F;
  }

  .table td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #2F4F4F;
	line-height: 1.4;
  }