#info {
	background-color: rgb(229, 241, 216);
}

#main {
	background-color: rgb(247,250,243);
	text-align: centre;
	align-items: center;
}

#myTab {
	margin-top: 50px;
	margin-left: 350px;
	margin-right: 350px;
	margin-bottom: 50px;
}

#comment-content {
	background-color: rgb(247,250,243);
}

#notes-content {
	background-color: rgb(247,250,243);
}

#ticketPeople {
	padding: 25px;
	margin: auto;
}

#ticketDetails {
	margin-top: 50px;
	margin-left: 80px;
}

#ticketDetails > p::after {
	content: "\a"; /* adds new line */
}

#ticketDates {
	padding: 25px;
	width: 200px;
	height: 300px;
	text-align: centre;
} 

#dates1, #dates2 {
	float: left;
	margin-top: 20px;
}

#ticketCreate, #ticketComments, #ticketDetails{
	padding: 0;
	margin: auto;
	width: 800px;
	max-width: 1000px;
	min-width: 150px;
	text-align: left;
}

.note-editor, .note-editing-area {
	border-radius: 6px;
}

#comments {
	border-radius: 10px;
}

#commentBody {
	margin-left: 10px;
	margin-top: 10px;
}

#commentBody > h6 {
	display: inline-block;
}

#commentBody > span {
	font-size: 10px;
}

#mainComment {
	margin-left: 10px;
}

#commentActions {
	text-align: justify;
	margin-top: 10px;
	margin-left: 50px;
}

#commentActions > img {
	width: 15%; /* Declare your value. Can be in relative units. */
	max-width: 20px;
	float: right;
}

#commentActions:after {
	content: "";
  	width: 25%;
	display: inline-block;
}

#commentImages {
	display: table-cell;
  	text-align: center;
  	width: 20%;
}

#commentImages > img {
	width: 15%;
	max-width: 20px;
}

.profilePicture {
	margin-top: 5px;
	width: 65px;
	height: 65px;
	border-radius: 50px;
}

.reporterName {
	margin-bottom: 20px;
}

#ticketPeopleChooseAssignee, #ticketPeopleSelfAssignee {
	float: right;
	background-color: rgb(213, 229, 187);
}

#ticketPeopleChooseAssignee:hover, #ticketPeopleSelfAssignee:hover {
	background-color: rgb(172, 205, 122);
}

#loginMessage
{
	padding-top: 65px;
}