#ticketContainer {
	Margin-top: 100px;
	display: grid;
	text-align: centre;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	
}

#ticketPeople {
	grid-column: 2 / 2;
	width: 500px;
	height: 600px;
	background-color: rgb(255, 0, 0);
	text-align: centre;
	margin-left: 180px;
}

#ticketPeople1 {
	margin: 10px;
	text-align: centre;
}

#ticketPeople2 {
	margin: 10px;
}

#ticketPeopleChooseAssignee {
	margin-left: 358px;
	margin-top: 100px;
}

#ticketPeopleSelfAssignee {
	margin-left: 358px;
}

#ticketDetails {
    grid-column: 1 / 2;
	width: 500px;
	height: 600px;
	background-color: #00e6e6;
	text-align: centre;
	margin-left: -150px;
}

#ticketDetails1 {
	float: left;
	text-align: centre;
	width: 100px;
	padding-bottom: 20px;
}

#ticketDetails2 {
	text-align: centre;
	width: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#ticketDetails3 {
	text-align: centre;
	width: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#ticketDetails4 {
	text-align: centre;
	width: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#ticketDetails5 {
	text-align: centre;
	width: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#detailsButtonModal {
		margin-top: 162px;
		margin-left: 300px;
}


#ticketDate {
	width: 400px;
	height: 300px;
	background-color: rgb(255, 0, 0);
	text-align: centre;
}

#datesHeading {
	width: 240px;
	float: left;
	margin-top: 100px;
}

#dates1 {
	background-color: rgb(255, 0, 0);
	width: 200px;
	height: 200px;
	float: left;
	margin-top: 100px;
}

#dates2 {
	background-color: rgb(255, 0, 0);
	width: 200px;
	height: 200px;
	margin-top: 50px;
}

#preDates {
	background-color: #F0F8FF;
	outline-color: #F0F8FF;
}

/*#detailsSubBug {
	grid-column: 1 / 2;
	width: 990px;
	background-color: grey;
	text-align: centre;
}

#ticketMessages {
	grid-column: 2 / 2;
	width: 490px;
	background-color: #00e600;
	text-align: centre;
}*/

#ticketMessages1 {
	margin-left: 371px;
}

#ticketCreate {

	text-align: centre;
	width: 995px;
	margin-left: auto;
	margin-right: auto;
	background-color: #00ffd5;
}

.Createcommentbutton {
	margin-right: 5px;
}

#ticketComments {
	text-align: centre;
	width: 995px;
	margin-left: auto;
	margin-right: auto;
	background-color:  #e2e2e2;
}

#commentList {
	margin-left: 75px;
}

#comments {
	background-color: white;
	width: 995px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 0px;
	margin-bottom: 10px;
	border-width:5px; 
	border-style:groove;
	padding-top: 10px;
}
.CommentImages {
	width: 25px;
	height: 20px;
	margin-left: 10px;
	padding-left: 5px;
	float: right;
}

#loginMessage
{
	padding-top: 65px; 
}

.CenterText {
	margin-left: auto;
	margin-right: auto;
}