#ticketContainer {
	Margin-top: 100px;
	display: grid;
	text-align: centre;
	width: 1500px;
	margin-left: auto;
	margin-right: auto;
	
}

#ticketBrief {
	grid-column: 1 / 2;
	width: 990px;
	background-color: #e60000;
	text-align: centre;
	
}

#ticketBrief1 {
	float: left;
	width: 495px;
	text-align: centre;
}

#ticketBrief2 {
	float: right;
	width: 495px;
	text-align: centre;
}

#ticketBrief3 {
	width: 495px;
	text-align: centre;
}

#ticketPeople {
	grid-column: 2 / 2;
	width: 490px;
	background-color: #ff751a;
	text-align: centre;
}

#ticketPeople1 {
	margin: 10px;
	text-align: centre;
}

#ticketPeople2 {
	margin: 10px;
}

#ticketPeople3 {
	margin-left: 150px;
}

#ticketDetails {
    grid-column: 1 / 2;
	width: 990px;
	background-color: #00e6e6;
	text-align: centre;
}

#ticketDetails1 {
	float: left;
	text-align: centre;
	width: 495px;
}

#ticketDetails2 {
	float: right;
	text-align: centre;
	width: 495px;
}

#ticketDetails3 {
	float: left;
	text-align: centre;
	width: 495px;
}

#ticketDetails4 {
	float: right;
	text-align: centre;
	width: 495px;
}

#ticketDetails5 {
	width: 990px;
	border: 5px solid black;
	border-width: 5px;
	background-color: #4293f5;
	text-align: center;
}


#ticketDate {
	grid-column: 2 / 2;
	width: 490px;
	background-color: #ffff1a;
	text-align: centre;
}

#dates1 {
	background-color: cyan;
	width: 240px;
	float: left;
}

#dates2 {
	background-color: red;
	width: 240px;
	float: right;
}

#preDates {
	background-color: #ffff1a;
	outline-color: #ffff1a;
}

#detailsSubBug {
	grid-column: 1 / 2;
	width: 990px;
	background-color: grey;
	text-align: centre;
}

#ticketMessages {
	grid-column: 2 / 2;
	width: 490px;
	background-color: #00e600;
	text-align: centre;
}

#ticketMessages1 {
	margin-left: 371px;
}

#ticketCreate {

	text-align: centre;
	width: 1490px;
	margin-left: auto;
	margin-right: auto;
	background-color: #00ffd5;
}

#ticketComments {
	text-align: centre;
	width: 1490px;
	margin-left: auto;
	margin-right: auto;
	background-color:  #ff1aff;
}

#loginMessage
{
	padding-top: 65px; 
}