<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap = "vendor/autoload.php"
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false">

<php>
   <const name="PHPUNIT_COMPOSER_INSTALL" value="true"/>
</php>

    <testsuites>
        <testsuite name="lmaoo">
            <file>Test/Integration/*</file>
            <file>Test/Unit/*</file>
        </testsuite>
    </testsuites>

</phpunit>