#info {
	background-color: rgb(230, 230, 230);
	border-right: 3px solid rgb(242, 242, 242);
}

.darkmode--activated #info {
	background-color: rgba(105, 105, 105, 0.24);
	color: #fff;
}

#main {
	text-align: centre;
	align-items: center;
}

.darkmode--activated #main {
	background-color: rgba(151, 151, 151, 0.24);
}

.darkmode--activated #main > h1 {
	color: #fff;
}

.darkmode--activated .note-toolbar.panel-heading {
	background-color: rgba(151, 151, 151, 0.24);
}

.darkmode--activated .note-editable {
	background-color: rgba(151, 151, 151, 0.24);
}

.darkmode--activated .note-toolbar.panel-heading button {
	color: #fff;
}

#myTab {
	margin-left: 350px;
	margin-right: 350px;
}

#comment-content {
	background-color: white;
}

#notes-content {
	background-color: white;
}

#ticketDetails > p::after {
	content: "\a"; /* adds new line */
}

#ticketDates {
	width: 200px;
	height: 220px;
} 

#dates1, #dates2 {
	float: left;
}

#ticketCreate, #ticketComments, #ticketDetails, #ticketHeader {
	padding: 0;
	margin: auto;
	width: 800px;
	max-width: 1000px;
	min-width: 150px;
	text-align: left;
}

.darkmode--activated #ticketHeader {
	color: #fff;
}

.darkmode--activated #comment-content > div, .darkmode--activated #notes-content > div {
	background-color: rgba(33, 33, 33, 0.99);
	color: #fff;
}

.darkmode--activated .note-editable { 
	background-color: rgba(105, 105, 105, 0.24) !important; 
	color: white !important; 
  }
  

.note-editor, .note-editing-area {
	border-radius: 6px;
}

#comments {
	border-radius: 10px;
}

#commentBody > h6 {
	display: inline-block;
}

#commentBody > span {
	font-size: 10px;
}

#commentActions {
	text-align: justify;
}

#commentActions > img {
	width: 15%; /* Declare your value. Can be in relative units. */
	max-width: 20px;
	float: right;
}

#commentActions:after {
	content: "";
  	width: 25%;
	display: inline-block;
}

#commentImages {
	display: table-cell;
  	text-align: center;
  	width: 20%;
}

.darkmode--activated .CommentImages {
	filter: invert(100%);
}

#commentImages > img {
	width: 15%;
	max-width: 20px;
}

.CommentImages:hover {
	background-color: rgb(172, 205, 122);
}

.darkmode--activated .CommentImages:hover {
	background-color: rgba(151, 151, 151, 0.99);
}

.profilePicture {
	width: 65px;
	height: 65px;
	border-radius: 50px;
}

#ticketPeopleChooseAssignee, #ticketPeopleSelfAssignee, #changeProgressBtn {
	float: right;
	background-color: rgb(230, 230, 230);
}

#ticketPeopleChooseAssignee:hover, #ticketPeopleSelfAssignee:hover {
	background-color: rgb(179, 179, 179);
}

#loginMessage
{
	padding-top: 65px;
}

#ticketSummaryHeader {
	padding: 10px;
	text-align: center;
}

#assigneeSelect {
	width: 100%;
}