html { 
    background: url(https://wallpapercave.com/wp/wp2132611.jpg) no-repeat center center fixed; 
    background-size: cover;
  }

  body {
      font-family: "Bungee", cursive;
      font-weight: 300;
      text-align: center;
      height: 80vh;
      width: 100vw;
      margin-top:20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1em;
      overflow-x: hidden;
      
    }
  
    .btn {
      z-index: 1;
      overflow: hidden;
      background: transparent;
      position: relative;
      padding: 8px 30px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 1em;
      letter-spacing: 1px;
      font-weight: bold;
      margin: 5px 0px;
  }
